
.container {
    overflow: hidden;
  }
  
  .filterDiv {
    display: none; /* Hidden by default */
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  

  
  /* Add a dark background to the active button */
  .btn.active {
    background-color: #666;
    color: white;
  }